@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px; /*zerando margem e padding gerais*/
}

html, body {
    min-height: 100vh; /*tamanho minimo da altura do corpo*/
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}
header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover {
    text-decoration: underline;
}

section { /*para todas as sections*/
    padding-top: 10vh; /*10% da altura da tela*/
    padding-bottom: 10vh; /*com isso as caixas se adaptam ao tamanho da tela*/
    padding-left: 30px;
    line-height: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(75, 75, 75);
    color: white;
}

section.imagem > p { /*configurando o P de dentro da caixa section*/
    width: 400px;
    background-color: rgba(0, 0, 0, 0.534);
}

footer {
    text-align: center;
}